/* 自适应开发 */
.masthead.segment {
    min-height: 700px;
    padding: 1em 0;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

/* PC为主？ Mobile为主？ 是否隐藏 */

.secondary.pointing.menu .toc.item {
  display:none;
}

/* 小于700 样式生效 增量式 一份代码适配所有设备 */
@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .item {
    display:none;
  }
  .secondary.pointing.menu .toc.item {
    display:block;
  }
} 
