*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    height: 100%;
    line-height: 1.6;
    font-family: -apple-system, "Helvetica Neue",sans-serif;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}