.weui-btn{
    /* 原因?   因为里面要放icon  loading */
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
.weui-btn_primary{
    background-color: #1AAD19;
}
.weui-btn:after{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin: 0 0;
    box-sizing: border-box;
    border-radius: 10px;
}
.weui-btn_primary:active {
    color: rgba(255, 255, 255, .6);
    background-color: #179B16;
}

