* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ff0;
}
.plane-wrapper {
  position: absolute;
  top: 50%;
  animation: undulate 3s infinite alternate;
}
.section-1.animation-out .plane-wrapper {
  animation: plane-out 1.3s forwards ease-out;
}
.plane-wrapper .rotate-container {
  position: absolute;
  top: 51.7003%;
  left: 13.1%;
  width: 27.424%;
  height: 14.4474%;
  animation: rotating 0.2s linear infinite;
}
@-moz-keyframes plane-out {
  0% {
    transform: scale(1) translateX(0);
  }
  30% {
    transform: scale(0.8) translateX(160px);
  }
  100% {
    transform: scale(1.2) translateX(-2000px);
  }
}
@-webkit-keyframes plane-out {
  0% {
    transform: scale(1) translateX(0);
  }
  30% {
    transform: scale(0.8) translateX(160px);
  }
  100% {
    transform: scale(1.2) translateX(-2000px);
  }
}
@-o-keyframes plane-out {
  0% {
    transform: scale(1) translateX(0);
  }
  30% {
    transform: scale(0.8) translateX(160px);
  }
  100% {
    transform: scale(1.2) translateX(-2000px);
  }
}
@keyframes plane-out {
  0% {
    transform: scale(1) translateX(0);
  }
  30% {
    transform: scale(0.8) translateX(160px);
  }
  100% {
    transform: scale(1.2) translateX(-2000px);
  }
}
@-moz-keyframes undulate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-6px, -18px, 0);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@-webkit-keyframes undulate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-6px, -18px, 0);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@-o-keyframes undulate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-6px, -18px, 0);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@keyframes undulate {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-6px, -18px, 0);
  }
  75% {
    transform: translate3d(6px, 10px, 0);
  }
}
@-moz-keyframes rotating {
  0% {
    transform: rotate(0) rotateY(-20deg);
  }
  50% {
    transform: rotate(180deg) rotateY(-20deg);
  }
  100% {
    transform: rotate(360deg) rotateY(-20deg);
  }
}
@-webkit-keyframes rotating {
  0% {
    transform: rotate(0) rotateY(-20deg);
  }
  50% {
    transform: rotate(180deg) rotateY(-20deg);
  }
  100% {
    transform: rotate(360deg) rotateY(-20deg);
  }
}
@-o-keyframes rotating {
  0% {
    transform: rotate(0) rotateY(-20deg);
  }
  50% {
    transform: rotate(180deg) rotateY(-20deg);
  }
  100% {
    transform: rotate(360deg) rotateY(-20deg);
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0) rotateY(-20deg);
  }
  50% {
    transform: rotate(180deg) rotateY(-20deg);
  }
  100% {
    transform: rotate(360deg) rotateY(-20deg);
  }
}
