*
    margin 0
    padding 0
ul,li
    list-style none
body
    background-color #0E0E5B
    background-image url('http://img.alicdn.com/tfs/TB1x4VVwKuSBuNjy1XcXXcYjFXa-1920-403.png') center 0 no-repeat 
    background-size: 1920px 403px   
.contentSwiper
    width 100%
    height 180px
    position absolute
    top 0
    background-image url(http://img.alicdn.com/tfs/TB1x4VVwKuSBuNjy1XcXXcYjFXa-1920-403.png)
    z-index -999
.container .headSwiper
    width 1300px 
    height 450px
    background-color #0E0E5B
    margin 0 auto
.container .headSwiper .swiperContent
    width 1100px 
    height 350px
    margin 0 auto
    margin-top 180px
    margin-left 100px
    z-index 1
    overflow-x hidden
.swiperContent li
    float left
.swiperContent li:nth-child(1) img
    width 130px
    height 250px
.swiperContent li:nth-child(2) img
    width 130px
    height 250px
.swiperContent li:nth-child(3) img
    width 580px
    height 310px
.swiperContent li:nth-child(4) img 
    width 130px
    height 250px
.swiperContent li:nth-child(5) img
    width 130px
    height 250px
.container .headSwiper:before
    content: ''
    background: url(//img.alicdn.com/tfs/TB1ohKsywmTBuNjy1XbXXaMrVXa-820-144.png) center 0 no-repeat
    position absolute
    top 60px
    left 200px
    width 410px
    height 150px
    background-size: 410px 72px
.container .headSwiper:after
    content: ''
    background: url(http://img.alicdn.com/tfs/TB12EQUwwmTBuNjy1XbXXaMrVXa-760-760.png) center 0 no-repeat
    position absolute
    top 15px
    right 100px
    width 380px
    height 380px
    background-size 380px 380px
    z-index -10