body {
  background: #ccc;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 900px;
  border: solid;
  border-color: #fff;
}
header {
  background-color: #f47d31;
  display: block;
  color: #fff;
  text-align: center;
}
header h2 {
  margin: 0;
}
h1 {
  font-size: 72px;
  margin: 0;
}
h2 {
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: #f47d31;
}
h3 {
  font-size: 18px;
  margin: 0;
  text-align: center;
  color: #f47d31;
}
nav {
  display: block;
  width: 25%;
  float: left;
}
nav a:link,
nav a:visited {
  display: block;
  border-bottom: 3px solid #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}
nav:hover {
  color: #fff;
  background-color: #f47d31;
}
nav h3 {
  margin: 15px;
  color: #fff;
}
#container {
  background-color: #888;
}
section {
  float: left;
  width: 50%;
}
aside {
  float: left;
  width: 25%;
}
